@full-black: rgba(0, 0, 0, 1);
@dark-black: rgba(0, 0, 0, 0.87);
@light-black: rgba(0, 0, 0, 0.54);
@min-black: rgba(0, 0, 0, 0.065);
@full-white: rgba(255, 255, 255, 1);
@dark-white: rgba(255, 255, 255, 0.829);
@light-white: rgba(255, 255, 255, 0.54);
@min-white: rgba(255, 255, 255, 0.1);
@primary: #0cc2aa;
@accent: #a88add;
@warn: #fcc100;
@info: #6887ff;
@success: #6cc788;
@warning: #f77a99;
@danger: #f44455;
@light: #f8f8f8;
@grey: #424242;
@dark: #2e3e4e;
@black: #2a2b3c;
@white: #ffffff;
@primary-color: @dark-white;
@accent-color: @dark-white;
@warn-color: @dark-white;
@success-color: @dark-white;
@info-color: @dark-white;
@warning-color: @dark-white;
@danger-color: @dark-white;
@light-color: @dark-black;
@grey-color: @dark-white;
@dark-color: @dark-white;
@black-color: @dark-white;
@border-color: rgba(120, 130, 140, 0.13);
@spacer: 1rem;





/*********定义大小*************/
@border-width: 4px;
@font-menu: 14px;
@table-header: 13px;
@table-body: 12px;
@search-label: 13px;
/********定义颜色*************/
@full-white: #ffffff;
@base-red: #f93030;
@hover-red: #ff5b5b;
@blue: #6fb1f9;
@green: #16c2c2;

/*********定义样式*************/
@btn-add: @base-red;   //增加按钮
@btn-add-hover: @hover-red;  // 增加按钮hover状态
@btn-delete: @blue;
@btn-delete-hover: @blue;
@btn-search: @base-red;
@btn-search-hover: @base-red;
@btn-reset: @base-red;