.vertical-center-modal {
    text-align: center;
    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0;
    }
    .detail {
        white-space: initial;
        text-indent: 2em;
    }
    .ant-modal {
        display: inline-block;
        vertical-align: middle;
        top: 0;
        text-align: left;
    }
}


//
.usergroup-content {
    margin-top: -16px;
}

//用户添加穿梭框样式
.ant-modal-body > .ant-transfer {
    text-align: center;
}
.ant-modal-body .ant-transfer-list{
    text-align: left;
}
